Django==2.0.8
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-filter==2.0.0
django-redis==4.9.0
djangorestframework==3.8.2
djangorestframework-filters
djangorestframework-jwt==1.11.0
drf-extensions
mysqlclient
raven
redis
requests==2.19.1
